name: Test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name != 'push' }}

jobs:
  test:
    runs-on: ubuntu-24.04

    permissions:
      contents: "read"
      id-token: "write"

    steps:
      # https://github.com/actions/checkout
      - name: Checkout branch
        uses: actions/checkout@v6

      # https://github.com/actions/setup-go
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          check-latest: true
          cache-dependency-path: |
            go.sum
            tools/go.sum

      # https://github.com/actions/cache
      - name: Cache tools
        uses: actions/cache@v4
        with:
          path: |
            ./tools/bin/gotestsum
          key: ${{ runner.os }}-go-${{ hashFiles('tools/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-tools-

      - name: Download dependency modules
        run: |
          go mod download -x
          GOBIN=$PWD/bin go -C tools install -v -x tool

      - name: Run Unit tests
        run: |
          ./tools/bin/gotestsum -f standard-verbose --junitfile tumix.junit.xml -- -race -count=1 -shuffle=on -cover -covermode=atomic -coverpkg=./... -coverprofile=coverage.out -tags='osusergo,netgo,static' -ldflags='-s -w -buildid=' ./...

      # https://github.com/codecov/codecov-action
      - name: Upload Coverage report to CodeCov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.out,./model/xai/coverage.out
          disable_file_fixes: true
          verbose: true

  vet:
    runs-on: ubuntu-24.04

    steps:
      # https://github.com/actions/checkout
      - name: Checkout branch
        uses: actions/checkout@v6

      # https://github.com/actions/setup-go
      - name: Set up Go
        uses: actions/setup-go@v6
        with:
          go-version-file: "go.mod"
          check-latest: true
          cache-dependency-path: |
            go.sum
            tools/go.sum

      - name: Download dependency modules
        run: |
          go mod download -x

      - name: Run go vet
        run: |
          go vet ./...
